* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
  display: block;
  width: 1520px;
  height: 557px;
}

body::-webkit-scrollbar {
  display: none;
}

.login-main img {
  display: block;
}

.login-main .login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-main .background-login {
  position: absolute;
  margin-left: -40px;
  z-index: 0;
}

.login-main .form-login {
  margin-top: 25vh;
  z-index: 1;
  padding-top: 24px;
  width: 25%;
}

.login-main .form-login .txt-login {
  font-size: 16px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 16px;
}

.txt-align {
  text-align: center;
}

.mg-b {
  margin-bottom: 15px;
}

.mg-r10 {
  margin-right: 10px;
}

.form-login .form-input {
  margin-bottom: 8px;
}

.form-login .form-input input {
  padding: 18px 18px;
  border-radius: 12px;
  border-color: transparent;
  background-color: rgb(245, 245, 245);
  outline: none;
  width: 100%;
  font-size: 15px;
}

.form-login .form-input input:focus {
  border-color: rgba(0, 0, 0, 0.15);
}

.form-login .login-btn {
  padding: 18px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  border-radius: 12px;
  cursor: pointer;
  width: 100%;
}

.form-login .login-btn .login-btn-styled {
  /* color: rgb(102, 102, 102); */
  color: #fff;
  font-weight: 600;
  font-size: 15px;
}

.form-login .forgot-pw a {
  font-size: 15px;
  font-weight: 400;
  color: rgb(153, 153, 153);
}

.form-login .other-method {
  position: relative;
  margin: 24px 24px;
}

.form-login .other-method .txt-or {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(255, 255, 255);
  padding: 16px 16px;
  color: rgb(153, 153, 153);
}

.form-login .other-login {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  cursor: pointer;
}

.form-login .other-login:first-child {
  background-color: rgb(29, 155, 240);
  height: 40px;
  cursor: pointer;
}

.form-login .content-method {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.form-login .content-method .register {
  color: #fff;
  width: 100%;
}

.form-login .content-method span {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: ̀50vh;
}

.footer-styled {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
}

.footer-container ul {
  display: flex;
  margin: auto;
}

.footer-container li {
  margin-right: 10px;
}

.footer-container li span {
  font-size: 12px;
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
