/* THANH ĐĂNG BÀI (BẮT ĐẦU 1 THREAD)*/
.post-bar {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 25px;
  background-color: white;
  border: 1px solid rgba(213, 213, 213, 1);
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(245, 245, 245);
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.start-post {
  display: flex;
  justify-content: space-between;
}

.post-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 17.5px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  opacity: 0.8;
}

.post-button-bar {
  background-color: #fff;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 20px;
  border: 1.5px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
}

/* GIAO DIỆN KHI NGƯỜI DÙNG ẤN VÀO THANH ĐĂNG BÀI*/

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  visibility: hidden;
}

.modal-overlay.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  max-width: 780px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  transition: transform 0.3s ease-in-out;
}

.modal-title {
  color: white;
  font-size: 22px;
  font-weight: 600;
}

.modal-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.modal-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.modal-header .username {
  font-weight: bold;
  font-size: 16px;
}

.modal-information {
  margin-top: 10px;
}

.modal-input {
  margin-bottom: 15px;
}

.modal-input input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17.5px;
  color: #333;
  opacity: 0.8;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-actions .icons {
  display: flex;
  align-items: center;
}

.modal-actions .icons svg {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.modal-actions .post-button {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 18px;
  border-radius: 12px;
  padding: 8px 20px;
  color: #ccc;
  cursor: not-allowed;
}

.modal-actions .post-button.active {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.post-button {
  background-color: #000;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.more-options {
  margin-top: -20px;
  display: flex;
  align-items: center;
}

.vertical-divider {
  width: 3px;
  height: 35px;
  background-color: #e0e0e0;
  margin-left: 20px;
  margin-right: 10px;
}

.icons {
  display: flex;
  padding: 0 20px;
  cursor: pointer;
}

.icons .icon-item {
  margin-right: 15px;
  color: rgb(184, 184, 184);
}

.thread-child {
  display: flex;
  margin-top: 10px;
}

.thread-child img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0px 10px;
}

.thread-child span {
  width: 100%;
  border: none;
  outline: none;
  font-size: 17.5px;
  font-weight: 600;
  color: #333;
  opacity: 0.2;
  margin-left: 5px;
}

.privacy-post {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.privacy-post span {
  font-size: 18px;
  opacity: 0.5;
}
