* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Inter, Helvetica, Arial, sans-serif;
}

body {
  display: block;
  width: 1520px;
  height: 557px;
}

/* SIDEBAR */

svg {
  width: 34px;
}

.main {
  display: flex;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 259px;
  margin-left: 150px;
}

.menu-pages {
  height: 624.5px;
  display: flex;
  flex-direction: column;
}

.menu-pages .icon-sb {
  margin-bottom: 10px;
  margin-top: 10px;
}

.menu-pages .menu-items svg {
  fill: rgba(184, 184, 184);
}

.menu-pages .menu-items .heart-icon {
  fill: transparent;
  color: rgba(184, 184, 184);
  stroke-width: 2.5;
}

.menu-pages .menu-item {
  width: 60%;
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 50px;
}
.menu-pages .menu-item span {
  margin-left: 10px;
  color: rgba(184, 184, 184);
  font-size: 18px;
  font-weight: 600;
}

.menu-pages .menu-item:hover {
  width: 70%;
  background-color: rgba(184, 184, 184);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  transition: 1s ease all;
  transform: translateX(10px);
}

.menu-pages .menu-item:hover span {
  color: white;
}

.menu-pages .menu-item:hover svg {
  fill: white;
}

.menu-pages .post-btn {
  width: 90%;
  background-color: rgb(29, 155, 240);
  border-color: rgba(0, 0, 0, 0);
  min-height: 52px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: -15px;
}

.menu-pages .post-btn span {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.user-information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.user-information:hover {
  width: 100%;
  transform: translateX(10px);
  display: flex;
  cursor: pointer;
  transition: 0.2s ease all;
}
.user-avatar img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-information .info-details {
  display: flex;
  align-items: center;
}

.user-information .user-name-used {
  font-size: 18px;
  color: pink;
  font-weight: 600;
}

.user-information .user-tag-name {
  color: #000;
}

.user-information .more svg {
  width: 25px;
}

/* HOME-CONTENT */

.home-content {
  width: 600px;
}

.home-content .essay-options {
  display: flex;
  width: 100%;
  border: 1px solid rgba(184, 184, 184);
  border-top: none;
}

.home-content .essay-options .option-item {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 10px 60px;
  font-weight: 600;
}

.home-content .essay-content {
  border: 1px solid rgba(184, 184, 184);
  border-top: none;
  padding-top: 10px;
  display: flex;
  padding-left: 20px;
  height: 155px;
}

.home-content .post-content {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  width: 100%;
}

.home-content .post-content .content-detail {
  font-size: 20px;
  color: rgba(184, 184, 184);
}

.home-content .type-reply {
  width: 95%;
  border-bottom: 1px solid rgba(184, 184, 184);
}

.home-content .type-reply button {
  display: flex;
  align-items: center;
  margin: 10px 0px;
}

.home-content .type-reply svg {
  margin-right: 5px;
  fill: rgb(29, 155, 240);
  width: 18px;
}

.home-content .type-reply span {
  font-weight: 600;
  font-size: 14px;
  color: rgb(29, 155, 240);
}

.home-content .upload-extension {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.home-content .upload-extension svg {
  width: 25px;
  fill: rgb(29, 155, 240);
  margin-right: 10px;
}
